<div class="header-admin">
    {{!-- <i class="fa-solid fa-user"></i> --}}
    <i class="fa-regular fa-user"></i>
    <div class="noti-icon" id="dropdownNoti" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-regular fa-bell"></i>
        <span class="badge">3</span>
    </div>
    
    <div class="all-noti dropdown-menu" aria-labelledby="dropdownNoti">
    </div>
    {{!-- <p class=" dropdown-toggle" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </p>
    <div class="dropdown-menu" aria-labelledby="dropdownProfile">
        <a class="dropdown-item" href="#">Profile</a>
        <a class="dropdown-item" href="#">Logout</a>
    </div> --}}
    <div class="noti-container">
    </div>
    

</div>
<script>
    let number_noti=document.querySelector('.badge')
    list_noti=document.querySelector('.all-noti')
    let result = fetch(`/admin/noti`,
                {
                    headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
                    method: "GET",
                })
                .then(async (data) => {
                    data=await data.json()        
                    number_noti.innerHTML = data['number_unseen'];
                    data['result'].forEach( (element) => {
                        
                        var div = document.createElement("a");
                        div.className="dropdown-item"
                        div.href="#"
                        div_time=document.createElement('p')
                        div_time.className="noti_time"
                        div_time.innerHTML=element['ts']
                        connection_index=element['connection_index'].split(',')
                        div.innerHTML = "HTTPS Malware from "+connection_index[0]+" to "+connection_index[1]
                        div.appendChild(div_time)
                        if (element['seen']==true){
                            div.classList.add("seen")
                        }
                        list_noti.appendChild(div)
                    });
                    
                })
</script>