<div class="wrapper">
    <!--Top menu -->
    <div class="sidebar">
        <div class="profile">
            <a class="siteId" href="/">
                HTTPS<br/>Malware Detection
            </a>
        </div>

        <ul>
            <li>
                <a href="/admin/configuration" class="active option-menu">
                    {{!-- <span class="icon"><i class="fas fa-suitcase-rolling"></i></span> --}}
                    <span class="item">Edit Configuration</span>
                </a>
            </li>
            <li>
                <a href="/admin/detect" class="option-menu">
                    {{!-- <span class="icon"><i class="fas fa-map-marker-alt"></i></span> --}}
                    <span class="item">Detect HTTPS Malware</span>
                </a>
            </li>
            <li>
                <a href="/admin/train" class="option-menu">
                    {{!-- <span class="icon"><i class="far fa-comment-alt"></i></span> --}}
                    <span class="item">Update model</span>
                </a>
            </li>
            <li>
                <a href="/admin/statistics" class="option-menu">
                    {{!-- <span class="icon"><i class="far fa-comment-alt"></i></span> --}}
                    <span class="item">Statistics and Reports</span>
                </a>
            </li>
        </ul>
    </div>

</div>
<script>
    const menu = document.getElementsByClassName('option-menu');
    const path = location.href.split('/')[location.href.split('/').length-1];

    for (var i = 0; i < menu.length; i++) {
        menu[i].classList.remove('active');
    }

    switch (path) {
        case 'configuration': menu[0].classList.add('active'); break;
        case 'detect': menu[1].classList.add('active'); break;
        case 'train':menu[2].classList.add('active'); break;
        case 'statistics': menu[3].classList.add('active'); break;
    }




</script>