@import url('./login.css');
@import url('./register.css');
@import url('./navigation_admin.css');
@import url('./config.css');
@import url('./header.css');
@import url('./detect.css');
@import url('./train.css');
@import url('./statistics.css');

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.01em;
  font-size: 15px;
  font-weight: 400;
}
.navbar {
  padding: 0;
}
html, body {
    height: 100vh;
}
a {
  cursor: pointer;
  color: black;
}

h1 {
  margin: 0;
  font-size: 65px;
  font-weight: 600;
  letter-spacing: -0.05em;
  line-height: 1em;
}
h5 {
  font-size: 18px;
  line-height: calc(4rem / 3);
  font-weight: 600;
}
h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 20px;
}
#message {
  position: fixed;
  z-index: 1;
  top: 90%;
  right: 2%;
  transform: translateY(-50%);
}
#message i {
  font-size: 50px;
  color: aqua;
}
i,
a,
img {
  cursor: pointer;
}
/* @import 'home.css';

@import 'register.css';
@import 'footer.css';
@import 'create_country.css';
@import 'create_tour.css';
@import 'destination_info.css';
@import 'tour_info.css';
@import 'destination_list.css';
@import 'tour_list.css'; */
