.admin-list.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.admin-list {
  position: relative;
  display: flex;
  height: 100%;
}
.admin-list .header-admin {
  z-index: 10;
}
.admin-list .content {
  z-index: 1;
  width: 75%;
  margin-left: 22%;
  margin-top: 130px;
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.07);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  padding-top: 15px;
  position: relative;
  overflow-y: scroll;
}
.admin-list .content h2 {
  margin-bottom: 20px;
  color: #4682B4;
}
.admin-list .content #form_update {
  width: calc(100% -30px);
  height: calc(100% - 35px);
  margin-left: 15px;
  box-sizing: border-box;
}
.admin-list .content .row{
  display: block;

}
.admin-list .content .row .col{
  margin: 15px 0;
} 
.admin-list .content .row .col input[type="text"]{
  height: 40px;
  border-radius: 5px;
  padding: 5px;
} 
.admin-list .content .row .col input[type="text"]:focus {
  border: 1px solid #4682B4;
}
.admin-list .content form p{
  font-size: 13px;
  margin-left: 5px;
  color: #474a60;
}
.admin-list .create {
  margin-top: 20px;
  /* border: 2px solid #3fd0d4; */
  padding: 20px 30px;
  float: left;
  background-color: #4682B4;
  border: 1px solid #babec5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
}
.admin-list .create:hover {
  background-color: #86BAE7;
  border:  1px solid #babec5;

}
/* ------------------ */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.popup .type{
  margin-top: 20px;
  display: flex;
  margin-left: 15px;
}
.popup .type .fa-exclamation-circle{
  color: red;
  line-height: 1.2;
}
.popup .type .fa-circle-info{
  color: blue;
  line-height: 1.2;
}
.popup .type div{
  font-size: large;
  margin-left: 20px;
}
/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.popup-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888888;
  width: 600px;
  height: 220px;
  font-weight: bolder;
  border: 2px solid #babec5;
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}
.popup-content p{
  font-size: 16px;
  margin-left: 65px;
  margin-top: 20px;
}
.popup-content button {
  display: block;
  margin-top: 15px;
  float: right;
  background-color: #4682B4;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin-right: 35px;
}
.show {
  display: block;
}
h1 {
  color: green;
}