.admin-list .content .detect_button {
    display: flex;
    margin-bottom: 20px;
}
.admin-list .content .text_area{
    width: 100%;
    height: 75%;
    display: flex;
}
.admin-list .content .detect_button .create{
    margin-top: 0;
    margin-left: 30px;
}
.admin-list .content .detect_button p{
    margin: 0;
    margin-top: 25px;
}
.admin-list .content .hidden{
    display: none;
}
/* .admin-list .content .detect_button.display{
    display: flex;
} */
.admin-list .content select{
    background-color: #ffffff;
    display: block;
    padding: 3px 5px;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-left: 20px;
}
.admin-list .content .run_slips{
    width: 100%;
    height: 100%;
}