.wrapper {
  position: fixed;
  z-index: 10;
  opacity: 1;
  width: 20%;
  height: 100vh;
}
.wrapper .sidebar {
  background: #e2e2e5;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
  position: relative;
}
.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;

}
.wrapper .sidebar .profile a{

  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #4682B4;
}

.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid white;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
  text-decoration: none;
}
.wrapper .sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* .wrapper .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
} */
.wrapper .sidebar ul li a {
  color: #4682B4
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: #0c7db1;
  text-decoration: none;
  background: white;
  border-right: 2px solid #3fd0d4;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}
.wrapper .section {
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 100%;
}

.wrapper .sidebar .section .top_navbar {
  background: #f6ef1a;
  height: 50px;
  align-items: center;
}
.wrapper .sidebar .section .top_navbar .hamburger {
  padding: 0 30px;
  cursor: pointer;
}
.wrapper .sidebar .section .top_navbar .hamburger a {
  font-size: 28px;
  color: #f4fbff;
}

.wrapper .sidebar .section .top_navbar .hamburger a:hover {
  color: #a2ecff;
}
.active .wrapper .sidebar {
  left: -100%;
}
/* .back {
  margin-top: 100px;
  margin-left: 22vw;
  position: absolute;
  border: 2px solid #3fd0d4;
  padding: 3px 5px;
  color: #3fd0d4;
} */
/* .active .wrapper .section {
  margin-left: 0;
} */
