.admin-list #statistics select{
    margin: 0 20px 0 10px;
}
.admin-list #statistics .data-content{
    margin-top: 50px;
    display: flex;
    flex-flow: wrap;
}
.admin-list #statistics .data-content #fanChart{
    width: 20vw !important;
    height: fit-content !important;
    margin-right: 30px;
}
.admin-list #statistics .data-content #lineChart{
    width: 50vw !important;
    height: auto !important;
}
.admin-list #statistics .data-content #listChart{
    width: 90% !important;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}
.admin-list #statistics .data-content #listChart h4{
    color: #666;
    text-align: center;
    margin-bottom: 10px;
}
.admin-list #statistics .data-content #listChart nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%, -50%);
    margin: 15px auto;
}
.admin-list #statistics .data-content #listChart ul .none{
    display: none;
}