.admin-list #train{
    /* text-align: center; */
}
.admin-list .content #form_train .form-group{
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
}
.admin-list .content #form_train .form-group:first-child .form-control{
    width: 40%;
}

.admin-list .content #form_train .form-group label{
    display: inline-block;
    text-align: left;

}
.admin-list .content #form_train .form-control{
    width: 70%;
}
.admin-list .content #form_train button{
    margin-left: 40%;
}
/*
.prog-wrap * {
    box-sizing: border-box;
}
    .prog-wrap {
    display: inline-block;
    position: relative;
    border: 1px solid #acb2d8;
    width: 80%;
    margin-top: 50px;
    border-radius: 10px;
    }
    .prog-wrap, .prog-bar, .prog-percent { height: 30px; }

    .prog-bar, .prog-percent {
    position: absolute;
    top: 0; left: 0;
    }

    .prog-percent {
    display: flex;
    align-items: center; justify-content: center;
    width: 100%;
    z-index: 2;
    color: #ffffff;
    }

    .prog-bar {
    width: 0;
    background: #A7C7E7;
    transition: width 0.5s;
    border-radius: 10px;
    }
*/
.admin-list #train #demo{
    margin-top: 50px;
}
.admin-list #train #demo .timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-list #train #demo .li {
    transition: all 200ms ease-in;
}

.admin-list #train #demo .timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}
.admin-list #train #demo .timestamp .date{
    height: 25px;
}

.admin-list #train #demo .status {
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
}

.admin-list #train #demo .status:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
}

.admin-list #train #demo .li.complete .status {
    border-top: 2px solid #66DC71;
}
.admin-list #train #demo .li.complete .status:before {
    background-color: #66DC71;
    border: none;
    transition: all 200ms ease-in;
}


@media (min-device-width: 320px) and (max-device-width: 700px) {
    .admin-list #train #demo .timeline {
        list-style-type: none;
        display: block;
}

.admin-list #train #demo .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
}

.admin-list #train #demo .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
}
}
