<div class="admin-list">
    {{>admin_header}}
    {{>adminNavigation}}
    <div class="content">
        <h2>Detect HTTPS Malware Realtime</h2>
        <div class="detect_button">
            <p>Start HTTPS Malware Detection on interface {{interfaces}}</p>
            <button class="create" id="start_detect">Run</button>
        </div>
        <div class="detect_button hidden">
            <p>HTTPS Malware Detection is running on interface {{ interfaces}}, do you want to turn it off?</p>
            <button class="create" id="stop_detect">Stop</button>
        </div>
        <div class="run_slips">
            <p>Running:</p>
            <textarea class="text_area" id="result" disabled>{{ event_data }}</textArea>
        </div>
    </div>
</div>
<script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
<script>
    let start=document.querySelector('#start_detect');
    let stop_detect=document.querySelector('#stop_detect');
    let detect_button=document.querySelectorAll('.detect_button')
    txtArea = document.getElementById('result')
    noti_container=document.getElementsByClassName('noti-container')[0]
    let socket = io('http://localhost:3000',{ forceNew:true, 'multiplex':false });
    /*document.addEventListener("DOMContentLoaded", function(event) { 
        setTimeout(function(){socket.emit('ping', true);},2000);
    });*/
    socket.on('connect', function() {
    });
    socket.on('events', function(data) {
        txtArea.value +=data['time']+": Connection index "+ data['connection index']+'\r\n'+"Prediction: "+data['prediction']+'\r\n';
        if (data['prediction']=='malware'){
            var div = document.createElement("div");
            div.className="notification"
            connection_index=data['connection index'].split(',')
            div.innerHTML = "Detect HTTPS Malware from "+connection_index[0]+" to "+connection_index[1];
            noti_container.appendChild(div)
            setTimeout(function() {
                div.remove()
            }, 3000);
        }
    });
    socket.on('log', function(data) {
        txtArea.value +=data['data'];
    });
    socket.on('disconnect', function() {
    });
    state={{ state }}
    if (state==0){
        detect_button[0].classList.remove("hidden");
        detect_button[1].classList.add("hidden");
    }
    else{
        detect_button[0].classList.add("hidden");
        detect_button[1].classList.remove("hidden");
    }
    start.addEventListener("click", function () {
        detect_button[0].classList.toggle("hidden");
        detect_button[1].classList.toggle("hidden");
        
        
        let result = fetch(`/admin/start_detect`,
                {
                    headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
                    method: "POST",
                })
                .then(async (data) => {                                    
                    /* socket.on('events', function(data) {
                        console.log('events ...........')
                        console.log(data['connection index'])
                        console.log(typeof data['connection index'])
                        txtArea.value +=data['time']+": Connection index "+ data['connection index']+'\r\n'+"Prediction: "+data['prediction']+'\r\n';
                        if (data['prediction']=='malware'){
                            console.log('malware')
                            var div = document.createElement("div");
                            div.className="notification"
                            connection_index=data['connection index'].split(',')
                            div.innerHTML = "Detect HTTPS Malware from "+connection_index[0]+" to "+connection_index[1];
                            noti_container.appendChild(div)
                            setTimeout(function() {
                                div.remove()
                            }, 3000);
                        }
                    });
                    socket.on('stop', function(data) {
                        txtArea.value +=data['data'];
                    });
                    socket.on('disconnect', function() {
                    });*/
                }).catch(e => console.log(e))
    });
    stop_detect.addEventListener("click", function () {
        detect_button[1].classList.toggle("hidden");
        detect_button[0].classList.toggle("hidden");
        let result = fetch(`/admin/stop_detect`,
                {
                    headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' },
                    method: "POST",
                })
                .then(async (data) => {
                    
                }).catch(e => console.log(e))
    });
</script>