<div class="admin-list">
    {{>admin_header}}
    {{>adminNavigation}}
    <div class="content" id="train">
        <h2>Update modele detect HTTPS Malware</h2>
        <form class="form-inline" id="form_train" enctype="multipart/form-data">         
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Training Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name">
                    {{!-- <div class="d-e">Error</div>
                    <i class="fas fa-exclamation-triangle"></i> --}}
                </div>
            </div>
            <div class="form-group">
                <label for="pcap" class="col-sm-2 control-label">File pcap</label>
                <div class="col-sm-10">
                    <input type="file" name="pcap" class="form-control-file" required>
                    {{!-- <div class="d-e">Error</div>
                    <i class="fas fa-exclamation-triangle"></i> --}}
                </div>         
            </div>
            <div class="form-group">
                <label for="normal" class="col-sm-2 control-label">List source address normal</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="normal">
                    <p>List source address normal, separated by commas. If not defined, no normal traffic will be training</p>
                    {{!-- <div class="d-e">Error</div>
                    <i class="fas fa-exclamation-triangle"></i> --}}
                </div>
            </div>
            <div class="form-group">
                <label for="malware" class="col-sm-2 control-label">List source address malware</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="malware">
                    <p>List source address malware, separated by commas. If not defined, no malware traffic will be training</p>
                    {{!-- <div class="d-e">Error</div>
                    <i class="fas fa-exclamation-triangle"></i> --}}
                </div>
            </div>
            <button class="create" id="start_train">Training model</button>
            <button class="create hidden" id="stop_train">Stop</button>
        </form>
        <div id="demo" class="prog-wrap">
            {{!-- <div class="prog-bar"></div>
            <div class="prog-percent">0%</div> --}}
            <ul class="timeline" id="timeline">
                <li class="li">
                    <div class="timestamp">
                        <span class="date"><span>
                    </div>
                    <div class="status">
                        <h5>Extract file log</h5>
                    </div>
                </li>
                <li class="li">
                    <div class="timestamp">
                        <span class="date"><span>
                    </div>
                    <div class="status">
                        <h5>Load data</h5>
                    </div>
                </li>
                <li class="li">
                    <div class="timestamp">
                        <span class="date"><span>
                    </div>
                    <div class="status">
                        <h5>Extract feature</h5>
                    </div>
                </li>
                <li class="li">
                    <div class="timestamp">
                        <span class="date"><span>
                    </div>
                    <div class="status">
                        <h5>Training</h5>
                    </div>
                </li>
                <li class="li">
                    <div class="timestamp">
                        <span class="date"><span>
                    </div>
                    <div class="status">
                        <h5>Done</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="https://cdn.socket.io/4.3.2/socket.io.min.js" integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous"></script>
<script>
    timeline=document.querySelectorAll('.li')
    date=document.querySelectorAll('.date')
    let socket = io('http://localhost:3000',{ forceNew:true, 'multiplex':false });
    socket.on('events', function(data) {
        console.log(111, data)
        switch(data['msg']) {
            case 'Start extract file log':
                timeline[0].classList.add('complete')
                date[0].innerHTML=data['time']
                break;
            case 'Start load data log':
                timeline[1].classList.add('complete')
                date[1].innerHTML=data['time']
                break;
            case 'Start extract feature':
                timeline[2].classList.add('complete')
                date[2].innerHTML=data['time']
                break;
            case 'Start training':
                timeline[3].classList.add('complete')
                date[3].innerHTML=data['time']
                break;
            case 'Done training':
                timeline[4].classList.add('complete')
                date[4].innerHTML=data['time']
                break;
} 
    })
    start_train=document.querySelector('#start_train');
    stop_train=document.querySelector('#stop_train');
    form=document.querySelector('#form_train')
    
    form.onsubmit = async function (e) {
        e.preventDefault();
    }
    start_train.addEventListener("click", function () {    
        start_train.classList.toggle("hidden");
        stop_train.classList.toggle("hidden");
        formData = new FormData(form);
        pcap = document.getElementsByName('pcap')[0]
        formData.append("pcap", pcap.files[0]);
        let result = fetch(`/admin/trainModel`,
                {
                    headers: { 'Accept': 'application/json', },
                    method: "POST",
                    body: formData
                })
                .then(async (data) => {                                    
                    
                }).catch(e => console.log(e))
    })
    stop_train.addEventListener("click", function () {
        start_train.classList.toggle("hidden");
        stop_train.classList.toggle("hidden");
        let result = fetch(`/admin/stop_train`,
                {
                    headers: { 'Accept': 'application/json', },
                    method: "POST",
                })
                .then(async (data) => {                                    
                    
                }).catch(e => console.log(e))
    })
    /*progbar.style.width="70%"
    progper.innerHTML="70%"*/
</script>