<p>Dear {{ username }}, </p>
<p>This is mail from Detech HTTPS Malware. We detect suspicious traffic that is expected to be malware on your computer sent from IP <mark style="color: red;; background-color: white;">{{ source }}</mark> to <mark style="color: red; background-color: white;">{{ dest }}</mark></p>

<p>If you did not request this email you can safely ignore it.</p>
